@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    transition: background 0.2s linear;
    align-items: center;
    text-align: center;
    font-family: 'Muli';
}

body.dark{
    background-color: #292c35;
}
body.dark p{
    color: rgb(0, 124, 27);
    align-items: center;
    text-align: center;
}


.label{
    width: 100px;
    height: 50px;
    background-color: #111;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    position: relative;
    border-radius: 50px;
}

.checkbox{
    opacity: 0;
    position: absolute;
}




.fa-moon-o{
    color: rgb(0, 124, 27);
}

.fa-sun-o{
    color: #f39c12;
}

.ball{
    overflow: hidden;
    position: absolute;
    width: 44px;
    height: 44px;
    background-color: #fff;
    top: 4px;
    left: 4px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball{
    transform: translateX(48px);

}